
    <table class="table table-striped">
        <thead>
          <tr class="text-center">
            <th>username</th>
            <th>email</th>
            <th>full_name</th>
            <th>address</th>
            <th>gender</th>
            <th>birthday</th>
          </tr>
        </thead>
        <tbody>
          <tr  class=""*ngIf="users">
            <td>{{users.username}}</td>
            <td>{{users.email}}</td>
            <td>{{users.full_name}}</td>
            <td>{{users.address}}</td>
            <td>{{users.gender}}</td>
            <td>{{users.birthday}}</td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    
    
    